@model BarangayMonitoringSystem.Models.Logindb

@{
    Layout = null;

}
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Login</title>

           <link rel="stylesheet" type="text/css" href="~/Content/loginstyle.css" />
    </head>

    <body>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <picture>
            <center><img src="@Url.Content("~/Content/agora.png")"></center>

            <center> <h2> Barangay Information System</h2></center>
        </picture>
        <div>

            <center>
                <p class="wronglogin">@ViewBag.Wronglogin </p>
                <table id="login">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.UserName)
                        </td>
                        <td style="margin-top:25px;">
                            @Html.EditorFor(model => model.UserName)
                            <div style="height: 20px;">
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Password)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Password)
                            <div style="height: 20px;">
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Login" class="inputbuttonclass" />
                            </td>
                           
                    </tr>
                </table>
            </center>
    </div>

}
                        
    </body>
</html>


