@model IEnumerable<BarangayMonitoringSystem.Models.ResidentRegister>

@using PagedList.Mvc;
@using PagedList;


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    
    <link rel="stylesheet" type="text/css" href="~/Content/indexcrud.css" />
</head>
<body>
    <div class="sidenav">
      
                <ul>
                       <li> @Html.ActionLink("Dashboard", "Index", "Home") </li>
            <li> @Html.ActionLink("Resident Records", "Index", "ResidentRegisters", new { @Style = "background-color:green" }) </li>
                    <li>  @Html.ActionLink("Resident Clearances", "Index", "Clearances") </li>
            <li>  @Html.ActionLink("Incident Reports", "Index", "Blotterreports") </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li> @Html.ActionLink("Logout", "Login1", "Login")</li>
                                   
        </ul>
    </div>
    <div style="margin-left:25%"  id="jumbotron">

    @Html.ActionLink("Register New Resident", "Create")
        </div>


    @using (Html.BeginForm("Index", "ResidentRegisters", FormMethod.Get))
    {
        <div style="margin-left:25% " id="searchfunction">
      <p class="searchfunction">
          <b> Search Resident:</b> @Html.TextBox("SearchString")
            <input type="submit" value="Search" class="inputbuttonclass"/>

          @Html.ActionLink("Reset", "Index")
           </p>
            </div>
    }
    <center><table class="table" id="residents"  style="margin-left:25% ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ResidentFirstName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ResidentMiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResidentLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Religion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceofBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contactnumber)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ResidentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidentMiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidentLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Religion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occupation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceofBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contactnumber)
            </td>
            <td>
                <div id="crudbuttons">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @Style = "background-color:blue" })
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @Style = "background-color:green" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @Style = "background-color:red" })
                    </div>
</td>
        </tr>
    }
    
    </table>
    
    </center>
  
</body>
</html>
