@model BarangayMonitoringSystem.Models.Clearances

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <style>
          .jumbotron 
{
    background-color:#3f9bff;
         padding: 20px;
            margin: 0 auto;
            width: 800px;
        border: 1px solid #c0c0c0;
        font-family:'Century Gothic'
       }
        input[type=text], select {
            width: 15em;
            padding: 5px 10px;
            height: 1em;
            margin: 2px;
            display: inline-block;
            border: 1px solid blue;
            border-radius: 4px;
        }
        input[type=number], select {
  width: 16em;
  padding: 5px 10px;
 height: 2em;
  margin:  12px 12px;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 4px;
  
}
        input[type=date], select {
            width: 10em;
            padding: 5px 10px;
            height: 1em;
            margin: 2px;
            display: inline-block;
            border: 1px solid blue;
            border-radius: 4px;
        }
         a:link, a:visited {
  background-color: #1c58aa;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:'Century Gothic'
}


a:hover, a:active {
  background-color: cornflowerblue;
}
        body { background-color: #5a5a5a}

           input.inputbuttonclass 
         {
              display: inline-block;
  position: relative;
  text-align:center;
    width: 8em;  
    height: 3em;
     margin-top:10px;
      margin-right:10px;
      
   padding: 2vh;
  cursor: pointer; 
 

         }

    </style>
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    <div class="jumbotron">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Clearances</h4>
                @Html.ActionLink("Back to List", "Index")
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ResidentId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ResidentId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ResidentId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Residentname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Residentname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Residentname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BarangayId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BarangayId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BarangayId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RegisteredVoter, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RegisteredVoter, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RegisteredVoter, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BGClearance, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BGClearance, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BGClearance, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="inputbuttonclass" />
                    </div>
                </div>
            </div>
        }

        
    </div>

</body>
</html>
