@model IEnumerable<BarangayMonitoringSystem.Models.Clearances>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
              body { background-color: #5a5a5a}

      .jumbotron 
{
    background-color:#3f9bff;
         padding: 20px;
            margin: 0 auto;
            width: 800px;
        border: 1px solid #c0c0c0;
       }

          
  li{
    
      margin-bottom:20px;
      
  }
   ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  

}
   .sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
 
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  font-family: 'Century Gothic';
}

.sidenav a:hover {
  color: #818181;
}
#clearance {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100px;
}

#clearance td, #clearance th {
  border: 1px solid #ddd;
  padding: 8px;
}

#clearance tr{background-color: #f2f2f2;}

#clearance tr:hover {background-color: #ddd;}

#clearance th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #005467;
  color: white;
}
.jumbotron 
{
     font-family: 'Century Gothic';
    background-color:#3f9bff;
         padding: 20px;
            margin: 0 auto;
            width: 200px;
        border: 1px solid #c0c0c0;
        
       }

  #jumbotron a {
   background-color: #1c58aa;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:'Century Gothic';
      margin-bottom:10px;
       border: 2px solid black;

}

  #jumbotron a:hover, a:active {
  background-color: cornflowerblue;
}
      #crudbuttons a 
  {
      width:55px;
      background-color: #242d93;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:'Century Gothic';
  margin-bottom:5px;
  margin-top:5px;
  }
         
  #crudbuttons a:hover, a:active {
  background-color: dimgrey;
}
    </style>
</head>
<body>
    <div class="sidenav">

        <ul>
            <li> @Html.ActionLink("Dashboard", "Index", "Home") </li>
            <li> @Html.ActionLink("Resident Records", "Index", "ResidentRegisters") </li>
            <li>  @Html.ActionLink("Resident Clearances", "Index", "Clearances", new { @Style = "background-color:green" }) </li>
            <li>  @Html.ActionLink("Incident Reports", "Index", "Blotterreports") </li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li> @Html.ActionLink("Logout", "Login1", "Login")</li>

        </ul>
    </div>
    <div style="margin-left:25%" id="jumbotron">

        @Html.ActionLink("Add New Clearance", "Create")
    </div>
    <center>
        <table class="table" id="clearance" style="margin-left:25% ">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ResidentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Residentname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BarangayId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegisteredVoter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BGClearance)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResidentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Residentname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BarangayId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegisteredVoter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BGClearance)
                    </td>
                    <td>
                        <div id="crudbuttons">
                            @Html.ActionLink("Edit", "Edit", new { id = item.ClearanceId }, new { @Style = "background-color:blue" }) 
                            @Html.ActionLink("Details", "Details", new { id = item.ClearanceId }, new { @Style = "background-color:green" }) 
                            @Html.ActionLink("Delete", "Delete", new { id = item.ClearanceId }, new { @Style = "background-color:red" })
                            </div>
</td>
                </tr>
            }

        </table>
      
        
        </center>
</body>
</html>
